<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>digital_library</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Add_book</display-name>
    <servlet-name>Add_book</servlet-name>
    <servlet-class>digital_library.Add_book</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_book</servlet-name>
    <url-pattern>/Add_book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search_book</display-name>
    <servlet-name>Search_book</servlet-name>
    <servlet-class>digital_library.Search_book</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search_book</servlet-name>
    <url-pattern>/Search_book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_login</display-name>
    <servlet-name>Admin_login</servlet-name>
    <servlet-class>digital_library.Admin_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_login</servlet-name>
    <url-pattern>/Admin_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_login</display-name>
    <servlet-name>User_login</servlet-name>
    <servlet-class>digital_library.User_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_login</servlet-name>
    <url-pattern>/User_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_signup</display-name>
    <servlet-name>User_signup</servlet-name>
    <servlet-class>digital_library.User_signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_signup</servlet-name>
    <url-pattern>/User_signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>View_order</display-name>
    <servlet-name>View_order</servlet-name>
    <servlet-class>digital_library.View_order</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View_order</servlet-name>
    <url-pattern>/View_order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Change_pass</display-name>
    <servlet-name>Change_pass</servlet-name>
    <servlet-class>digital_library.Change_pass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Change_pass</servlet-name>
    <url-pattern>/Change_pass</url-pattern>
  </servlet-mapping>
</web-app>